// Default pipeline params
params{
    input = "./data/*.tsv"
    outdir = "results"
    embeddings = "antiberty,antiberta2"
    use_gpu = false
    mode = "HL"
    max_memory = 6.GB
    max_cpus = 6
    cell_id = "cell_id_unique"
    batch_size = 50
    skip_translation = false
    reference_igblast = "https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/database-cache/igblast_base.zip"
}

includeConfig 'conf/base.config'

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    apptainer{
        apptainer.enabled = true
        docker.enabled = false
        apptainer.autoMounts = true
    }
    singularity{
        singularity.enabled = true
        docker.enabled = false
        singularity.autoMounts = true
    }

    mccleary{
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        executor.name = 'slurm'
        executor.queueSize = 50
        executor.submitRateLimit='190/60min'
        params.max_memory = 983.GB
        params.max_cpus = 64
        process{
            executor = 'slurm'
            scratch = 'true'
            queue = { task.time > 24.h ? 'week' : 'pi_kleinstein,day' }
            withLabel:gpus{
                queue = "gpu"
                clusterOptions = "--gpus=1"
                containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
                ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
                time = 6.h
            }
            withLabel:gpus_highmem{
                queue = "gpu"
                clusterOptions = "--gpus=1"
                containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
                ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
                memory = 32.GB
                time = 6.h
            }   
        }
    }
}

manifest {
    name            = 'nf-amulety'
    contributors    = [
        [
            name: 'Gisela Gabernet',
            affiliation: 'Yale University',
            email: 'gisela.gabernet@yale.edu',
            github: '@ggabernet',
            contribution: ['author','maintainer','contributor'],
            orcid: 'https://orcid.org/0000-0001-7049-9474'
        ]
    ]
    homePage        = 'https://github.com/ggabernet/nf-amulet'
    description     = """Embedding pipeline with amulety."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.10.0'
    version         = 'dev'
    doi             = ''
}

includeConfig 'conf/modules.config'
