// Default pipeline params
params{
    input = "./data/*.tsv"
    outdir = "results"
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    apptainer{
        apptainer.enabled = true
        docker.enable = false
        apptainer.autoMounts   = true
    }
}
