process {
    withName: AMULETY_TRANSLATE {
        publishDir = [
            path: {"${params.outdir}/AMULETY_TRANSLATE"},
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: AMULETY_ANTIBERTY {
        publishDir = [
            path: {"${params.outdir}/AMULETY_ANTIBERTY"},
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: AMULETY_ANTIBERTA2 {
        publishDir = [
            path: {"${params.outdir}/AMULETY_ANTIBERTA2"},
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: AMULETY_BALMPAIRED {
        publishDir = [
            path: {"${params.outdir}/AMULETY_BALMPAIRED"},
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: AMULETY_ESM2{
        publishDir = [
            path: {"${params.outdir}/AMULETY_ESM2"},
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}